<html>
  <head>
    <meta charset="utf-8">
    {% if style %}
      <style>{{ style }}</style>
    {% elif css %}
    <link rel="stylesheet" href="{{ css }}">
    {% endif %}
  </head>
  <body>
    <div class="page">
      <div class="grid">
        <table>
          {% for row in puzzle.grid %}
          {% set r = loop.index0 %}
          <tr>
            {% for l in row %}
            <td{%if l != '' %} class="cell"{% endif %}>
              {% set c = loop.index0 %}
              {% for dir in ['right', 'down'] %}
                {% if puzzle.starts[r][c][dir] %}
                <div class="letter-count letter-count-{{ dir }}">
                  {{ puzzle.starts[r][c][dir] }}
                </div>
                {% endif %}
              {% endfor %}
              {{ l }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>

      <dl class="words">
        {% for words in puzzle.words %}
        {% if words %}
          <dt>{{ loop.index0 }}</dt>
          <dd>
            {% for word in words %}
              {{ word.word }}{% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
      </dl>

      <footer>
        počet slov: {{ puzzle.total_words }}
      </footer>

    </div>
  </body>
</html>
